@model Fiap05.Web.MVC.Models.CartaoReal
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>

}

<h2>Cadastro de Cartão Real</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(p => p.Numero)
        @Html.TextBoxFor(p => p.Numero, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Cvv)
        @Html.TextBoxFor(p => p.Cvv, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Status)
        @Html.EnumDropDownListFor(c => c.Status,
                                 new { @class = "form-control", disabled = "disabled" } )
    </div>

    <input type="submit" value="Cadastrar" class="btn btn-primary" />

}
