@model Execicio.Web.MVC.Models.Refeicao

@{
    ViewBag.Title = "Refeicao";
}

<h2>Refeicao</h2>

@Atalho.Message(TempData["msg"])

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(r => r.Nome)
            @Html.TextBoxFor(r => r.Nome, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(r => r.Vegetariano)
            @Html.LabelFor(r => r.Vegetariano)
        </div>
        <div class="form-group">
            @Html.DropDownListFor(r => r.Bebida, ViewBag.listaBebida as SelectList)
        </div>
        @Atalho.Submit("Cadastrar")
    </div>


}

