@model List<Fiap05.Web.MVC.Models.CartaoVirtual>
@{
    ViewBag.Title = "Listar";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>

}

<h2>Lista de Cartao Virtual</h2>

@using (Html.BeginForm("Pesquisar", "CartaoVirtual", FormMethod.Get, new { @class = "form-inline"}))
{
    @Html.DropDownList("numero", 
                        ViewBag.listaCartao as SelectList, 
                        new { @class ="form-control"})
    <input type="submit" value="Buscar" class="btn btn-success" />
}

<br />

<table class="table table-striped">
    
    <tr>
        <th>Código cartão</th>
        <th>Numero</th>
        <th>Utilizado</th>
        <th>Cartão Real</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CartaoVirtualId</td>
            <td>@item.Numero</td>
            <td>@(item.Utilizado?"Sim":"Não")</td>
            <td>@item.CartaoReal.Numero</td>
        </tr>
    }
</table>