@model Fiap.NAC.Correcao.Models.Bicicleta
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(b => b.Modelo)
        @Html.TextBoxFor(b => b.Modelo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Valor)
        @Html.TextBoxFor(b => b.Valor, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Categoria)
        @Html.DropDownListFor(c => c.CategoriaId, ViewBag.categorias as SelectList, "Selecione",
        new { @class = "from-control"})
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
}

