@model List<Fiap03.Web.MVC.Models.Time>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Classificação</th>
        <th>Patrocinio</th>
        <th>Pontuação</th>
        <th>Descrição</th>
        <th>Data Fundação</th>
        <th>Liga</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Classificacao</td>
            <td>@(item.Patrocinio?"Sim":"Não")</td>
            <td>@item.Pontuacao</td>
            <td>@item.Descricao</td>
            <td>@item.DataFundacao.ToShortDateString()</td>
            <td>@item.Liga</td>
        </tr>
    }
</table>


